td {
    padding: 8px;
}

#teste {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

input {
    width: 100%;
}

#submit {
    width: 100%;
}

img {
    width: 20%;
}

#secao {
    display: flex;
    justify-content: space-between;
}

#secao select {
    width: 100%;
}